body {
    font-family: Arial, sans-serif;
    background-color: cornSilk;
    text-align: center;
}
h1 {
    background-color: red;
    border-radius: 30px;
    color: white;
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
}
#content img, #content video, #content audio {
    width: 150px;
    height: 150px;
    margin: 10px;
}
